*{
    box-sizing: border-box;
}
#wrapper{
    max-width: 1240px;
    height: 100vh;
    margin: auto;
    padding: 1em;
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
}
#container{
    display: flex;
    width: 100%;
}
.joueur, .plateau{
    flex: 1;
}
.cellule{
    width: 100px;
    height: 100px;
    background-color: azure;
    border: 1px solid black;
    
}
#jeu{
display: flex;
flex-wrap: wrap;
max-width: 300px;
margin: auto;
    
}

.cellule{
    text-align: center;
    font-size: 6em;
    line-height: 100px;
    cursor: pointer;
}

.plateau{
    width: 300px;
    text-align: center;
}
#bouton{
    font-size: 1em;
    margin-top: 1em;
    padding: 0.5em 1em;
    color: antiquewhite;
    background-color: rgb(233, 151, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
}
h3{
    color: darkmagenta;
    font-size: 1.5em;
}
.col, .egale{
    color: rgb(233, 151, 0);
    font-weight: 900;
}
.joueur{
    color: black;
    text-align: center;
}

@media screen and (max-width:965px) {
    #container{
        flex-direction: column;
    }
    #container .plateau{
        width: 300px;
        margin: auto;
    }
    
}

